body {
  margin: 0;
  padding: 0;
  /* background-color: #c0c0b4; */
}

/* .color {
    background: url("./assets/bg.png") no-repeat right fixed;
    background-size: cover;
    background-color: #c0c0b4;
    padding-top: 0;
} */
