/* input {
    justify-content: center;
} */

.charcontainer {
  background-color: #c8cad8;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-inline: 40px;
  height: 100%;
}

.charcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c8cad8;
  border-radius: 35px;
  height: 420px;
  width: 300px;
  transition: transform 275ms cubic-bezier(0, 0, 0.5, 2.5),
    box-shadow 250ms ease-out;
  /* border: 2px solid #b9bdce; */
  text-decoration: none;
  color: black;
}

.charcard:hover {
  box-shadow: 2px 2px 15px 2px #b2b3c0, -2px -2px 15px 2px #e6e7eb;
  backdrop-filter: blur(2px);
  transform: scale(1.02);
}

.charcard > img {
  padding: 20px;
  padding-top: 20px;
  width: 80%;
  height: 75%;
  /* border-radius: 50px; */
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
}

.charcard > h2 {
  margin-top: 0;
}

.inp {
  padding: 30px;
  display: flex;
  justify-content: center;
  background-color: #c8cad8;
  position: sticky;
  top: 100px;
  z-index: 9;
}

@media (max-width: 580px) {
  .inp {
    top: 90px;
  }
}

input {
  width: 300px;
  height: 35px;
  background-color: #ececeb;
  border: 0;
  border-bottom: 2px solid black;
  /* border-radius: 5px; */
  /* color: rgb(0, 0, 0); */
  outline: none;
  text-align: left;
  padding-left: 25px;
}
