.synopsis {
  /* background-color: aquamarine; */
  font-size: 20px;
  padding-left: 150px;
  padding-top: 65px;
  max-width: 600px;
  margin: 0;
}

/* img {
    transform: rotate3d(0,3,0,-40deg);
    
} */

.main {
  background-image: url("../assets/bg-tab1.png");
  background-size: cover;
  background-position-x: right;
  background-position-y: bottom;
  height: calc(100vh - 100px);
  padding: 0;
  margin: 0;
  /* position: sticky; */
  /* top: 100px; */
  /* z-index: -1; */
  /* background-repeat: no-repeat; */
}

.synopsis h1 {
  text-shadow: 4px 4px 2px #616fa9;
  color: black;
  margin: 0px 0 20px 0;
  font-size: 55px;
}

.synopsis p {
  margin-bottom: 20px;
}

.links-container {
  display: flex;
  align-items: center;
  /* z-index: 2; */
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 15px;
  background-color: rgb(221, 220, 220);
  border-radius: 50px;
  transition: transform 200ms ease;
}

.rotate:hover {
  transform: rotate(360deg);
  color: gray;
}

.col-change:hover {
  color: gray;
}

/* section {
    height: 700px;
} */

@media (max-width: 1340px) {
  .synopsis {
    padding-left: 75px;
  }
}

@media (max-width: 1290px) {
  .main {
    background-image: url("../assets/bg-tab1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
  }
  .synopsis {
    padding-top: 80px;
    max-width: 450px;
  }
  .synopsis h1 {
    font-size: 40px;
    /* text-shadow: 2px 2px 1.5px rgb(208, 206, 206); */
  }
  .synopsis p {
    font-size: 17px;
  }
}

@media (max-width: 1150px) {
  .synopsis {
    transform: scale(0.8);
  }
}

@media (max-width: 770px) {
  .synopsis {
    padding-top: 60px;
    padding-left: 50px;
  }
}

@media (max-width: 600px) {
  .main {
    background-image: url("../assets/bg-phone.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
  }
  .synopsis {
    max-width: 100vw;
    padding-left: 20px;
    padding-top: 15px;
    padding-right: 20px;
  }
  .synopsis h1 {
    text-shadow: 3px 3px 2px #546194;;
    font-size: 25px;
    margin-bottom: 10px;
    max-width: 275px;
  }
  .synopsis p {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 1.12rem;
  }
}

@media (max-width: 501px) {
  .main {
    height: calc(100vh - 90px);
  }
}

.sec-two {
  height: calc(100vh - 100px);
  /* background: linear-gradient(#ffffff 30%, #656565); */
  background-color: white;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
  /* position: absolute; */
  width: 100%;
  z-index: 1;
}

.sec-two > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec-two h1 {
  color: rgb(39, 39, 39);
  font-size: 40px;
  margin-top: 7px;
  margin-bottom: 10px;
}

.carousal {
  width: 600px;
  height: 65vh;
  padding-inline: 70px;
  /* margin-inline: auto; */
  border-radius: 25px;
  overflow: hidden;
  margin-bottom: 20px;
}

.carousal img {
  width: 100%;
  height: 60vh;
  border-radius: 25px;
}

@media (max-width: 1401px) {
  .carousal {
    width: 500px;
    height: 55vh;
  }

  .carousal img {
    width: 100%;
    height: 50vh;
  }

  .video {
    width: 500px;
    height: 300px;
  }

  .sec-two h1 {
    font-size: 25px;
  }
}

@media (max-width: 1200px) {
  .sec-two {
    flex-direction: column;
    height: auto;
  }

  .sec-two > div {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .carousal {
    width: 350px;
    height: 295px;
    padding-inline: 10px;
    margin-bottom: 0;
  }

  .carousal img {
    width: 100%;
    height: 290px;
  }

  .video {
    width: 350px;
    height: 205px;
  }

  .sec-two h1 {
    font-size: 25px;
  }
}

@media (max-width: 375px) {
  .carousal {
    width: 300px;
    height: 30vh;
    padding-inline: 10px;
    margin-bottom: 0;
  }

  .carousal img {
    width: 100%;
    height: 30vh;
  }

  .video {
    width: 300px;
    height: 25vh;
  }

  .sec-two h1 {
    font-size: 18px;
  }
}

.sec-thr {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(#8a8a8c, rgb(255, 255, 255)); */
  background-color: rgb(0, 0, 0);
  height: 50vh;
  color: rgb(255, 255, 255);
}

strong {
  color: rgb(90, 174, 90);
}

.sec-thr>h1 {
  margin: 0;
}

.sec-thr > h1 > div > a {
  color: rgb(194, 55, 37);
  /* text-decoration: none; */
  transition: text-shadow 200ms ease-in;
}

.sec-thr > h1 > div > a:hover {
  text-shadow: 2px 2px rgb(195, 192, 192);
}

.smoltext {
  font-size: 30px;
  text-align: center;
}

.bigtext {
  font-size: 45px;
  text-align: center;
}

@media (max-width: 454px) {
  .smoltext {
    font-size: 20px;
  }

  .bigtext {
    font-size: 30px;
  }
}

footer {
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
}

