.seasons-main {
    background-color: #c8cad8;
}
.container-main {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    max-width: 900px;
}

.detail {
    margin: 30px 0 30px 0;
    /* max-width: 700px; */
    background-color: rgb(239, 239, 239);
    border-radius: 10px;
    box-shadow: 3px 3px 15px 2px #b2b3c0;
}

.detail>summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgb(39, 39, 39);
    border-radius: 10px;
    background-color: #c8cad8;
    box-shadow: 2px 2px 15px 2px #b2b3c0;
}

summary:hover {
    cursor: pointer;
    background-color: #eaebf3;
}

.detail>summary>h2 {
    margin: 10px;
}

.arrow {
    margin: 10px;
}

.sumimg-container {
    margin-inline: 20px;
}

.left-img {
    float: left;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 200px;
    height: auto;
}

@media (max-width: 980px) {
    .container-main {
        margin-inline: 50px;
    }
}

@media (max-width: 767px) {
    .sumimg-container {
        margin-inline: 20px;
    }

    .left-img {
        transform: scale(1.01);
    }
}

@media (max-width: 505px) {
    .detail>summary>h2 {
        margin: 6px;
    }
    
    .arrow {
        margin: 6px;
    }

    .detail {
        margin: 20px 0 20px 0;
    }

    .container-main {
        margin-inline: 10px;
    }

    .sumimg-container {
        margin-inline: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left-img {
        transform: scale(0.9);
        align-self: center;
        /* float: none; */
        margin-right: 0;
    }

    .sumimg-container>p {
        text-align: justify;
    }

    .sumimg-container>h4 {
        align-self: flex-start;
    }
}